<div class="alert <%= type %>" role="alert">
  <h4><% if type=="alert-success" %>
    <i class="fa-solid fa-check"></i>
  <% else %>
    <i class="fa-duotone fa-circle-exclamation"></i>
  <% end %></h4>&nbsp;&nbsp;
  <span class="sr-only">Info</span>
  <div>
    <span class="font-medium"></span><%= alert %>
  </div>
</div>
